<% content_for :main do %>
  <h1 class="header"><%= t('site.static.monitoring.header') %></h1>
  <article>
    <%= t('site.static.monitoring.content.html') %>
  </article>
<% end %>

<% content_for :sidebar do %>
   <%= render :partial => '/shared/links_sidebar' %>
<% end %>
