<% content_for :main do %>
<h1 class="header">Applying REDD+ Safeguards</h1>
<article>
  <p>“Cancun Agreemerús“ of the UNFCCG indude cl Iiat of sncziol and environmental safeguards for REDD+ 

    National Progromrne 
    activrties. Documents 8. RPPS 

    Countries ore oskeo io promote ono support these Conoun soieguorizis| ond to provide o system of irrformotion on 
    hoiii.I they ore being oddrossoo

    The UN-EEDD Progromme hos developed Sooiol dnd Environmentol Prinoipleo ond Criterio  os o guiding 
    fromework oonsistent with Conoun;

    1_ To aooreso aooial and environmental ieoues in the UN-EEDD National Programmes ono other UN-EEDD 
    funoeo aotivities 

    2. To support countries in developing notionol opproooiies to sofeguoros in line with the UNFCCC 

    hos developed tools ond guidonoe to oesist oountries in the development of their docurnentotion (oen  
    bor). Countries who ore developing their notionol opprooohes to soteguordsI moy,r wish to oonside 
    disorete ootivities: 

    Decide un cl  of safeguards to apply. 

    There ore several safeguard sets ond relateo opprooches which o country may use to develop its notional 
    opprooch to soieugorcls the choice will oepeno on the mutliloterol initiatives that the countries ore engogeo with 
    and their objectives for FlEDD+. I'lill countries who ore signatories to the UNFCCC should promote ono support the 
    Canoun safeguards, these should therefore form the oasis of most countries approaohes hggerlinlt to more 
    infonriation.. UN-EEDD oountries may.r appli.r the BEPC mrlink to more information , whioh are oonsistent with the 
    IGanoun safeguards, and aan oe used as a guiding framework to develop a safeguard  FCPF oountries 
    should oarry,r out a Strategia Environmental Sooial .Iissessment to inoorporate relevant environmental and sodal 
    oonslderations. Some oountries may.r apply.r iloluntary.r standards suoh as the  SES hïperlinlf.I whioh promote 
    multistalter holder engagement A description of the different initiatives has been oarried out by Proiorest 
    external link and Greenpeaoe external link. Further analysis of hovlI countries might develop a national approaoh 
    to safeguards using more than one set of safegaurds or related approaches oon loe found here external linlt 

    Identify the notionolly importont sooiol ond environmental risks ond opportunities. 

    ese will be dependont on which of the 5  ocitivities ore being implemented link to internal discription of 
    the E activities. A tool which con help HEDD+ plonners working on their FiEDD+ strategy ond notionol progromme 
    docuemnt is the  Benefits ond Flisks tool link to resource page on this site _ This tool will ollow countries to 
    think through the mutifoceted risks ond benefits presented by  using the SEPC os o guiding frornework. 

    Develop o sofegouros poliog.r poseo on existing policies, lows ono regulations. 

    A gap analysis of existing regulations and measures against seleoted safeguards may,r assist this step. The 
    aforementioned EieFlT tool linlt to internal resouroe gage has a specifio funotion to assist wtih suoh a gap analysis. 
    d) Implementation of appropriate policiesI laws and measdres as a oomprehensive safeguard framework. 
  </p>
</article>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => '/shared/sidebar' %>   
<% end %>

