<footer class="clearfix">
<p class="floatleft">For problems using this website, please contact: <%= mail_to 'unepinformaticsteam@unep-wcmc.com' %></p>
  <p class="floatright">Copyright &copy; 2009 UN-REDD Programme. All Rights Reserved</p>
</footer>
