<header>
  <hgroup>
    <h1 id="logo"><a href="/">UN-REDD PROGRAMME</a></h1>
    <h2>The United Nations Collaboration Programme on Reducing Emissions from Deforestation and Forest Degradation in Developing Countries</h2>
  </hgroup>
</header>
<div class="navigation clearfix">
  <nav class="main">
    <ul>
      <li><a href="#" class="current first">Home</a></li>
      <li><a href="#">Safeguards</a></li>
      <li><a href="#">Mapping and Valuation</a></li>
      <li><a href="#">Impacts</a></li>
      <li><a href="#">Factsheets</a></li>
      <li><a href="#" class="last">FAQ</a></li>
    </ul>
  </nav>
  <div class="search sidebar">
    <input type="text" placeholder="Search Resources/Tools" />
    <input class="button" type="submit" value="Go!" />
  </div>
</div> 