<h2 class="header">Key Resources</h2>
<article>
  <ul>
    <li><a href=#>Resource </a></li>
  </ul>
</article>

<h2 class="header margin-top">FAQ</h2>
<article>
  <ul>
    <li><%= link_to 'What are multiple benefits?', faq_path(:anchor => 'multiple-benfits') %></li>
    <li><%= link_to 'What are Cancun Safeguards?', faq_path(:anchor => 'cancun-safeguards') %></li>
  </ul>
</article>
