<h2 class="header">Key Resources</h2>
<article>
  <ul>
    <li><a href=#>Resource </a></li>
  </ul>
</article>

<h2 class="header margin-top">Key Resources</h2>
<article>
  <ul>
    <li><a href=#>Resource </a></li>
  </ul>
</article>