<!-- main -->
<div id="main">
  <strong class="heading-help">This toolkit is intended to help decision-makers promote and support the UNFCCC safeguards for<br /> REDD+, focusing on the environmental aspects.</strong>
  <p>These pages will host tools, guidance and resources developed by the UN-REDD Programme, and link to the best of those developed by others. We would welcome your comments on this draft version: please contact ccb@unep-wcmc.org.</p>
  <!-- content -->
  <div id="content">
    <div class="add-box">
      <strong class="title">REDD+</strong>
      <p>REDD+ stands for “Reducing Emissions from Deforestation and forest Degradation plus the role of conservation, sustainable management of forests and enhancement of forest carbon stocks, in developing countries”. The concept is to create a financial value for the carbon stored in forests, supporting developing countries to reduce emissions from forested lands and invest in low-carbon paths to sustainable development. Financing options are being explored under the United Nations Framework Convention on Climate Change. For further information see the <a href="#">UNFCCC website</a>. </p>
      <p>For further information, see <%= link_to 'www.un-redd.org', 'http://www.un-redd.org'%></p>
    </div>
    <div class="add-box">
      <strong class="title">Multiple benefits</strong>
      <p>Multiple benefits are the advantages gained from retaining and restoring forests through REDD+, in addition to the protection and enhancement of carbon stocks that is the primary purpose of REDD+. This website focuses on the ecosystem-based benefits, including: </p>
      <ul class="product-list">
        <li>Soil conservation</li>
        <li>Water regulation</li>
        <li>Conservation of forest biodiversity</li>
      </ul>
      <span class="mark">Provision of timber, forest foods and other non-timber forest products</span>
      <p>For further information, see the <a href="#">Beyond Carbon: Ecosystem-based benefits of REDD</a>+ brochure.</p>
    </div>
    <div class="add-box">
      <strong class="title">Social and Environmental Principles and Criteria</strong>
      <p>The UN-REDD Programme is developing a set of <a href="#">Social and Environmental Principles and Criteria</a> in order to develop tools and guidance to enhance the multiple benefits of and reduce risks from REDD+. The Principles and Criteria are intended to support countries in operationalizing the UNFCCC guidance and safeguards for REDD+, and to provide the Programme with a framework to promote benefits and reduce risks from REDD+. The June 2011 draft can be accessed  <a href="#">here</a>.</p>
    </div>
  </div>
</div>
