<h1 class="header"><%= t('site.factsheets.header') %></h1>
<article class="wide">
  <p><%= t('site.factsheets.description') %></p>

  <% Resource::THEMES.each do |theme| %>
    <%=render :partial => 'factsheet_section', :locals => {:theme => theme.to_s, :factsheets => @factsheets[theme.to_s] || [] } %>
  <% end %>
  <%=render :partial => 'factsheet_section', :locals => {:theme => nil, :factsheets => @factsheets[nil] || [] } %>
</article>
