<h1 class="header">Factsheets</h1>
<article class="wide">
  <p>These factsheets identify the uses and limitations of individual tools and resources for planning for multiple benefits for REDD+</p>
  <h4>Monitoring of REDD+ impacts on biodiversity and ecosystem services</h4>
  <p>Factsheet</p>

<ul>
<% @resources.each do |resource| %>
  <li>
    <%= render :partial => 'resource', :locals => { :resource => resource } %>
  </li>
<% end %>
</ul>
</article>
