@import 'mixins';

.process {
  list-style-type: none;
  margin: 30px 0;

  li {
    margin: 0 0 5px 0;

    /* This will be needed for the next iteration with the pictures.
    height: 115px;
    img {
      float: left;
      clear: both;
      margin: 0 30px 10px 0;
      border: 1px solid $light-gray;
    }
    */
    
  }
}