// Place all the styles related to the Factsheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.factsheets {
  li {
    list-style-type: none;
    width: 105px;
    float: left;
    margin: 5px 20px;
    text-align: center;

    .file {
      width: 102px;
      height: 102px;
    }
  }
}
