// Place all the styles related to the Factsheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins';

.factsheets {
  margin: 20px auto;
  .item {
    width: 150px;
    height: 70px;
    margin: 20px 10px;
    padding: 5px 20px;
    vertical-align: top;
    text-align: center;
    img {
      margin: 5px auto 10px auto;
      display: block;
      opacity: 0.8;
      &:hover {
        opacity:1;
      }
    }
  }
}

