// Place all the styles related to the Factsheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins';

.factsheets {
  list-style-type: none;

  .file img { 
    margin: -25px; 
    padding: 0 25px 20px 0;
   }
  
  li { margin: 20px 0; }
 
}

