// Place all the styles related to the ResourcesSearch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins';

.search-results {
  fieldset { 
    @include border-radius(5px, 5px, 5px, 5px);
    margin: 20px auto;
    padding:15px 30px;
    form {
      input[type=text] {
        @include border-radius(3px, 3px, 3px, 3px);

        border: 1px solid #ccc;
        margin: 10px;
        padding: 10px;
        width: 400px;
        &:focus {
          @include box-shadow(0, 0, 2px, #1559A7);
        }
      }
      input[type=submit] {
        margin: 20px 15px
      }
      p {
        font-weight: bold;
        font-size: 16px;
        margin-left: 10px;
       }
      span {
        display: block;
        float: left;
        width: 800px;
        label {
         display: block;
        }
        .select {
          float: left;
          margin: 0px 10px 5px 5px;
          padding: 3px;
          label {
            display: block;
            float: none;
          }
          .wide_select {
            width: 200px;
          }
          .narrow_select{
            width: 100px;
          }
        }
      }
    }
  }
}

.results {
  @include border-radius(5px, 5px, 5px, 5px);

  background-color: #f7f7f7;
  min-height: 200px;
  padding: 20px 30px;

  dt {
    font-size: 20px;
    a {
      text-decoration: none;
    }
  }

  dt, .description { 
    margin: 5px 0 5px 175px;
  }
}

.screenshot {
  position: relative;
  
  width: 150px;
  height: 150px;
  margin: 5px 10px;
}

