// Place all the styles related to the ResourcesSearch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins';

.search-results {
  fieldset { 
    @include border-radius(5px, 5px, 5px, 5px);
    margin: 20px auto;
    padding:15px 30px;
    p {
      padding: 0px 0px 20px;
      border-bottom: 1px solid;
    }

    form {
      input[type=text] {
        @include border-radius(3px, 3px, 3px, 3px);

        border: 1px solid #ccc;
        margin: 10px;
        padding: 10px;
        min-width: 280px;
        &:focus {
          @include box-shadow(0, 0, 2px, $dark-blue);
        }
      }
      input[type=submit] {
        margin: 20px 15px
      }
      p {
        font-weight: bold;
        font-size: 16px;
        margin-left: 10px;
        border-bottom: none;
        padding: 0px;
       }
      span {
        display: block;
        .select {
          float: left;
          margin: 0px 10px 5px 5px;
          padding: 3px;
          label {
            display: block;
            float: none;
            .tip-tip {
                display: block;
                width: 20px;
                height: 20px;
                padding-left: 10px;
                background-image:image-url('question.png');
                background-repeat: no-repeat;
                text-indent: -99999px;
                &:hover {
                  cursor: help;
                }
             }
            .holder { width: 300px;}
            span {
             float:left;
             padding-bottom: 5px;    
            }
          }
          .wide_select {
            width: 200px;
          }
          .narrow_select{
            width: 100px;
          }
        }
      }
    }
  }
}

.results {
  @include border-radius(5px, 5px, 5px, 5px);

  background-color: $dirty-white;
  min-height: 200px;
  padding: 20px 30px;

  li {
    list-style-type: none;
    margin: 20px 0px;
    height: 170px;
    a {
      font-size: 20px;
      text-decoration: none;
    }

    div.container_img {
      position:relative;
      float:left;
      overflow: hidden;
      width: 150px;
      height: 150px;
    }

    div.container_img img{
      position:absolute;
      top:50%;  
      left: 50%;  
      float: left;
      display: block;
      border: 1px solid $light-gray;
    }
  }

  .text {
    height: 100%;
    overflow: hidden;
    margin-right: 15px;
    float: right;
    width: 510px;
  }
}

.clearfix {
  clear:both;
}

