// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'mixins';

.sidebar-img-container{
  position:relative;
  height: 202px;

  .big_container_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    float: left;
    display: block;
    border: 1px solid #E2E2E2;
  }
}

.resource_sidebar {
  padding: 9px !important;
}

.external_link {
  word-wrap: break-word;
}

.resource_image {
  position: relative;
  margin: 5px 0;
  display: block;
  border: 1px solid $light-gray;
}

.resource_details { 
  padding: 5px 10px;
  dt{
    font-weight: bold;
    color: $dark-blue; 
  }
  dd {
    margin: 0 0 10px 0;
    text-align: left;
  }
}
