@import 'mixins';

body {
  font: 13px/20px 'Arial', sans-serif;
  color: $text-gray;
}

header {
  position: relative;
  width: 1000px;
  height: 227px;
  background:url('/assets/banner.jpg');
  @include box-shadow(2px, 2px, 5px, #ccc);

  h1, h2 {
    text-indent: -999999px;
    color: white;
  }
}

a {
  color: $dark-blue;
  text-decoration: none;
  &:hover, &.current {
    color: $hover-blue;
    text-decoration: underline;
  }
}

ul, ol {
  padding: 0 0 0 15px;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  &.header {
    color: #fff;
    font-size: 16px;
    text-shadow: -1px 1px 0 #000;
    padding: 10px 20px;
    background: {
      image:url('redtitle_bar_background.png');
      position: bottom right;
      repeat: no-repeat;
      color: #f93342;
    }
  }
}

h3  {
  margin: 20px 0;
  color: $dark-blue;
} 

h4 {
  margin: 0;
}

.button {
  @include linear-gradient(#0c56ab, #1b65ba);
  @include border-radius(5px, 5px, 5px, 5px);
  padding: 4px 10px;
  border: none;
  color: #fff;
  font-weight: bold;
  &:hover {
    @include linear-gradient(#0c56ab, #3179cc);
  }
}

.navigation {
  @include linear-gradient($light-gray, $dirty-white);
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  @include box-shadow(2px, 2px, 5px, #ccc);
}

nav {
  ul {
    margin: 0;
    padding: 0;
    float: left;
    li {
      float: left;
      margin: 0;
      padding: 15px 0;
      a {
        display: block;
        float: left;
        padding: 1px 13px;
        border-right: 1px solid #cccccc;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        &.first {
          padding-left: 2px;
        }
        &.last {
          padding-right: 0;
          border: none;
        }
      }
    }
  }
}


.main {
  width: 630px;
  float: left;
  margin-right: 10px;
  margin-left: 30px;

  h1 {
    margin-top: 35px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.sidebar {
  width: 270px;
  float: right;
  margin-left: 30px;
  margin-right: 30px;
}

.one-col {
  margin: 0 90px;
}

.search {
  position: relative;
  padding-top: 13px;
  input[type=text]{
    @include border-radius(3px, 3px, 3px, 3px);
    border: 1px solid #ccc;
    margin-right: 10px;
    padding: 4px;
    width: 200px;
  }
}

.container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid $red;
  .content {
    background: #fcfcfc url('/assets/bg.png');
    padding: 40px 0;
    @include box-shadow(2px, 2px, 5px, #ccc); 
    @include border-radius(0, 0, 5px, 5px);
    article, .wide {
      background: #fff;
    }
    article, .search-results {
      padding: 10px 30px;
      @include box-shadow(2px, 2px, 5px, #ccc); 
      @include border-radius(0, 0, 5px, 5px);
    }

    article.image {
      padding: 0;

      p {
        margin: 0;
        padding: 15px 30px;
      }

      img {
        height: 250px;
        width: 630px;
        @include border-radius(0, 0, 5px, 5px);
      }

      &.no-round {
        img {
          @include border-radius(0, 0, 0, 0);
        }
      }
    }

    article table {
      tr {
        td {
          padding-left: 10px;
          vertical-align: top;

          &:first-child {
            padding: 0;
          }
        }
      }
    }

    article .image {
      font-size: 0.8em;

      &.pull-right { margin-left: 20px; }
      &.pull-left { margin-right: 20px; }

      img {
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}

.group {
  padding: 10px 30px;
  margin-top: 25px;

  &:first-child {
    margin-top: 0;
  }

  p {
    padding: 15px;
    padding-top: 0;
  }

  ul, ol {
    margin-left: 30px;
    margin-right: 15px;
  }

  .col {
    width: 53%;
    float: left;
    background: white;
    @include box-shadow(2px, 2px, 5px, #ccc);
    @include border-radius(0, 0, 5px, 5px);

    &:nth-child(1) { margin-left: 52.3%; }
    &:nth-child(2) { margin-left: -110.4%; }
  }

  &.same-height {
    overflow: hidden;

    .col {
      height: 100%;
      margin-bottom: -99999px;
      padding-bottom: 99999px;
    }
  }
}

.col.countries-at-a-glance h4 {
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 1.1em;
}

.back-link {
  margin: 75px 0 5px 0;
  display: block;
}

.faq-link {
  @include linear-gradient($light-gray, $dirty-white);
  @include border-radius(8px, 8px, 8px, 8px);

  width: 350px;
  margin: 40px auto 20px auto;
  padding: 8px 15px;
  color: #1559A7;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}

.pagination {
  text-align: center;
  padding: 10px 0;
  .prev {
    padding-right: 10px;
  }
  .next {
    padding-left: 10px;
  }
  .page {
    padding: 0 3px;
    font-size: 18px;
  }

}

footer {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid $red;
  padding: 5px 30px;
  p {
    margin-top: 5px;
  }
}

.pull-right { float: right; }
.pull-left { float: left; }
