<h1 class="header">Search the tools and resources</h1>
<div class="search-results wide">
  <form>
    <fieldset>
      <p> miejsce na simple form </p>
    </fieldset>
  </form>
  <h2>Search Results</h2>


  <!-- tu jakiś loop z resultsami -->
  <dl class="results">
       <dt>Title of tool</dt>
       <dd class="screenshot">Obrazek</dd>
       <dd>Brief description of the tool <a title="link to the article" href="#">more...</a> </dd>
  </dl>
</div>
